html, body {
    max-width: 100%;
    overflow-x: hidden;
}
*{
  margin:0;
  border:0;
}

#header{
	position: fixed;
	height: 10vh;
	width: 100%;
	top: 0;
	z-index: 100;
}

#mapBtn{

  position: absolute;
  left:0;
  height: 60%;
  margin: 4%;
}


.text{
  margin: 0.8% 0.3%;
	display: inline-block;
  min-width: 5%;
	max-width: 55%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px 15px 15px 15px;
	padding: 2%;
	font-size: 2.5em;
	overflow-wrap: break-word;
}
.messageIncoming{
	margin: 5%;
	position: relative;
	left: 0;
	box-sizing: border-box;
}
.messageOutgoing{
  text-align: right;
	margin: 5%;
	position: relative;
	box-sizing: border-box;
	left: 0;
}
#inputContainer{
	position: fixed;
	bottom: 0;
	width:100vw;
	height: 7.8vh;
	background-color: rgb(200,200,200)
}
#image{
	height: 5vh;
	margin-top: 1.7vh;
	margin-left: 4vw;
	display: inline-block;
}
#inputMessage{
  padding: 0.3% 2%;
	display: inline-block;
	position: relative;
	bottom: 1.8vh;
	height: 5vh;
	width: 66vw;
	border-radius: 5px 5px 5px 5px;
	outline:none;
	margin-left: 4vw;
	font-size: 3em;
	background-color: rgb(250,250,250);
}
#filler{
	position: absolute;
  top: 0;
	height: 7.5vh;
	width: 100vw;
}
#send{
	display: inline-block;
	width: 7vw;
	margin-left: 3vw;
	margin-bottom: 0.8vh;
	transform: rotate(180deg);
}
.senderName{
	font-size: 2.5em;
	margin-left: 2vw;
	color: rgba(0, 0, 0, 0.7);
	/*position: absolute;
	bottom: 100%;*/
}
#workspace{
  background-color: #fefefe;
	overflow: scroll;
	scroll-behavior: smooth;
	overflow-x: hidden;
  margin-top: 10vh;
  height: 82.2vh;
}