html, body {
    max-width: 100%;
    overflow-x: hidden;
}
*{
  margin:0;
  border:0;
}

#header{
	background-color: #555555;
	position: fixed;
	height: 10vh;
	width: 100%;
	top: 0;
	z-index: 100;
}

#mapIcon{
	position: absolute;
	right: 0;
	height: 65%;
	margin-top: 2.5%;
	margin-right: 2.5%;

}

#logo{
	position: absolute;
	left: 27.5%;
	font-size: 700%;
}

#backbtn{
	height: 65%;
	position: absolute;
	left: 0;
	margin-top: 2.5%;
	margin-left: 2.5%;
}
.text{
	display: inline-block;
	width: 65%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 15px 15px 15px 15px;
	padding: 2%;
	font-size: 2.5em;
	overflow-wrap: break-word;
}
.messageIncoming{
	margin: 5%;
	position: relative;
	left: 0;
	width: 110%;
	box-sizing: border-box;
}
.messageOutgoing{
	margin: 5%;
	position: relative;
	right: 0;
	box-sizing: border-box;
	width: 110%;
	left: 15%;
}
#inputContainer{
	position: fixed;
	bottom: 0;
	width:100vw;
	height: 6.5vh;
	background-color: #aaaaaa
}
#image{
	height: 5vh;
	margin-top: 0.75vh;
	margin-left: 4vw;
	display: inline-block;
}
#inputMessage{
	display: inline-block;
	position: relative;
	bottom: 1vh;
	height: 4vh;
	width: 68vw;
	border-radius: 5px 5px 5px 5px;
	outline:none;
	margin-left: 4vw;
	font-size: 4em;
	background-color: #eeeeee;
}
#filler{
	position: absolute;
	height: 7.5vh;
	width: 100vw;
}
#fillerTwo{
	height: 10vh;
	width: 100vw;
	z-index: -1000;
}
#send{
	display: inline-block;
	width: 7vw;
	margin-left: 4.5vw;
	margin-bottom: 0.5vh;
	transform: rotate(180deg);
}
.senderName{
	font-size: 2.5em;
	margin-left: 2vw;
	color: rgba(0, 0, 0, 0.3);
	/*position: absolute;
	bottom: 100%;*/
}

#workspace {
	padding-top: 3%;
	overflow: scroll;
	scroll-behavior: smooth;
	overflow-x: hidden;
}