body{
  width: 100vw;
}
*{
  font-family: "Didact Gothic", Times, serif;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: initial; /* iOS Safari */
  -webkit-user-select: initial; /* Safari */
  -ms-user-select: initial; /* Internet Explorer/Edge */
  user-select: initial; /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face{
  font-family: basic;
  font-weight:bold;
  src: url(https://cdn.glitch.com/1e82efbe-513c-4b39-abf6-1269231807b0%2FBasicaline-NonCommercial.otf?v=1565734486624);
 }

@font-face{
  font-family: "Didact Gothic";
  font-weight:bold;
  src: url(https://cdn.glitch.com/1e82efbe-513c-4b39-abf6-1269231807b0%2Fdidactgothic-regular.otf?v=1565736470209)
}

#mainNav{
  z-index:5;
  height: 12vh;
  width:100%;
  background-color:#98a2a5;
  position: fixed;
  top:0;
}
#navSections{
  height:80%;
}
.navBtn{
  height:20%;
  width: 100%;
  text-align: center;
}

.navBtn img{
  padding-top:2vh;
  height:75%;
  width:auto;
}

#mainNav p{
  display: inline-block;
  letter-spacing:0.2em;
  margin-top:3vh;
  font-size:6vh;
  font-family: basic, serif;
  margin-right: 12vw;
}
#mainNav img{
  float:left;
  display: inline-block;
  height: 60%;
  margin-top: 2.5vh;
  margin-left: 3vw;
}
#header{
  background-color: #555555;
  position: fixed;
  height: 10vh;
  width: 100vw;
  top: 0;
  z-index: 100;
}
#navLogo{
  position: absolute;
  left: 27.5%;
  font-size: 700%;
}

#backbtn{
  height: 65%;
  position: absolute;
  left: 0;
  margin-top: 2.5%;
  margin-left: 2.5%;
}
#fillerTwo{
  height: 10vh;
  width: 100vw;
  z-index: -1000;
}