
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
	}

/* this is modal stuff*/
/* the black thing that shows up when u open up a modal */
#black{
	position: fixed;
	z-index:3;

	height:900vh;
	width:100%;
	background-color:rgba(0,0,0,0.5);
}

/*self-explanatory*/
#modal{
	top:10%;
	background-color:white;
	position: fixed;
	left:50%;
	margin-left:-400px;
	z-index: 5;
	padding:0.5em;
	height:80%;
	width:80%;
	border-radius: 2vh;
}

#stepOne{

}
#stepTwo{
  display: none;
	text-align: center;
  margin-top: 1.9em;
}
#stepThree{
  display: none;
  text-align: center;
  margin-top: 1.9em;

}
#modal h3{
	font-family: basic, sans-serif;
	margin:1em 0.5em 0 0.5em;
	text-align: center;
	font-size: 5vh;
}

/* profile pic */
#modal #pfp{
	border-radius:50%;
	background-color:gray;
	height: 25vh;
	width: 25vh;
	margin: 0 auto 4em auto;
	position: relative;
	bottom: 3vh;
}

/*the pencil icon thing*/
#modal #editpfp{
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 9;
	top: 22vh;
	left:50vw;
	height:8vh;
	width:8vh;
	background-color:rgba(200,200,200,0.6);
	border-radius:50%;
}

input{
  background-color: rgb(0,0,0,0);
  text-align: center;
  font-size:5vw;
  display: block;
  margin: 0 auto 0.5em auto;
  width: 50%;
  padding: 0.4em;
  border: none;
  border-bottom: rgba(0,0,0,0.2) solid 0.1em;
  outline:none;
  transition: all cubic-bezier(0.0, 0.0, 0.2, 1) 0.5s;
}

input:focus{
  border-bottom: black solid 0.1em;
  width: 60%;
}

/*text area in stepThree*/
#otherInfo{
	border-color: rgb(100,100,100);
	margin-top: 0.7em;
	height: 37vh;
	width: 80%;
	font-size: 3vh;
	padding: 0.5em;
	border-radius: 5%;
}

/* gender */
.sex{
	border-radius: 5%;
	background-color: rgb(220,220,220);
	margin-top: 7%;
	margin-bottom: 7%;
	border: 0;
	padding: 2em 5em 0 5em;
	height: 13vh;
	width: auto;
	display: inline-block;
}

/* the three dots on the bottom */
#placementDots{
	position: fixed;
	bottom: 13vh;
	left: 44vw;
	display: block;
	text-align: center;
}

/*individual dot*/
.dot{
	display: inline-block;
	border-radius: 50%;
	background-color:rgb(180,180,180);
	height:1vh;
	width: 1vh;
	margin:0 .5em 0 .5em;
}
#submitBtn{
  margin: 2em auto 1em auto;
  color:white;
  background-color:#535e61;
  width: 20vw;
  font-size: 5vw;
  padding: 0.8em 2.5em 0.8em 2.5em;
  border-radius:4%;
  transition-duration: 0.2s;
  box-shadow: 0px 15px 26px 2px rgba(0,0,0,0.3);
}
#submitBtn:active{
  background-color: #333b3d;
  transform:translateY(0.2vh);

}
/* end of modal stuff */
#border{
	border-bottom: solid 2px #dddddd;
	width: 90%;
	position: relative;
	left: 5%;
}

#addPerson{
	padding: 2em 2em 2em 3em;
	border: dashed 5.5px rgb(150,150,150);
	width:70%;
	margin:0 auto 1vh auto;
}
#addPerson img{
	display: inline-block;
	height:3vh;
	opacity:0.5;
}
#addPersonInfo{
	color:rgb(120,120,120);
	text-align: left;
	font-size: 4em;
}

.person img{
	width: 16%;
	border: ridge 2px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	margin: 6% 3% 6% 5%;
	position: relative;
	left: 0;
}
#info{
	width: 75%;
	position: absolute;
	right: 0;
	display: inline-block;
	margin-top: 6%;
}
#personName{
	display: block;
	font-size: 6em;
}
#personDate{
	font-size: 2.05em;
	position: relative;
	top: -0.5vh;
	color: #575757;
}
