body{
  text-align: center;
  display: inline-block;
  width: 100vw;
  height:100vh;
}

h3{
  display: inline-block;
  letter-spacing:0.2em;
  font-family: basic, Times, serif;
  font-size: 8vw;
  margin-top:8vh;
  margin-bottom: 2vh;
}

input{
  background-color: rgb(0,0,0,0);
  text-align: center;
  font-size:5vw;
  display: block;
  margin: 0 auto 0.5em auto;
  width: 50%;
  padding: 0.4em;
  border:none;
  border-bottom: black solid 0.1em;
  outline:none;
  transition: 0.5s;
}

input:focus{
  border-bottom: black solid 0.1em;
  width: 60%;
}

#box{
  color:black;
  display:inline-block;
  background-image: linear-gradient(#f7f2f2, #d4d7da);
  width: 90vw;
  height: 73vh;
  position: fixed;
  z-index:0;
  bottom:0;
  left:4.9vw;
  border-radius:5% 5% 0 0;
}
#content{
  padding:4em;
}
#pfp{
  display: block;
  z-index: 2;
  position: fixed;
  width: 35vw;
  margin: 28% 0 9% 32%;
  border-radius: 50%;
}

#edit{
  width: 6vw;
  height:auto;
}

.collapsible{
  background-color: transparent;
  color:black;
  cursor: pointer;
  padding: 1em;
  width:100%;
  border:none;
  border-top:#8a9497 .2vh solid;
  text-align:left;
  height: 8vh;
  outline: none;
  font-size: 5vw;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 1.3vh;
  position: relative;
  bottom: 3.3vh;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content{
  overflow: scroll;
      transition: max-height 0.2s ease-out;
      max-height: 15vh;
      background-color: rgba(255,255,255,0.3);
      font-size: 4.5vw;
      text-align: left;
      padding: 1.5vh 3vh 1.5vh 3vh;
}

.profilepic{
  height: 10vw;
  border-radius: 50%;
}

.report{
  margin-bottom: 1vh;
    border-bottom: gray;
    background-color: #f8f8f9;
    border-radius: 1.5vh;
    padding: 2%;
}
.report h5{
  position:relative;
  bottom:1.5vh;
  left: 1vh;
  font-size:4vw;
  display: inline-block;
}

.report img{
  display: inline-block;
}

#submitBtn{
  margin: 8% 0 0 29.5%;
  color: white;
  background-color: #535e61;
  width: 20vw;
  font-size: 5vw;
  padding: 0.5em 1em 0.7em 1em;
  border-radius: 4%;
  transition-duration: 0.2s;
  box-shadow: 0px 15px 26px 2px rgba(0,0,0,0.3);
}
#editName{
  text-align: center;
  display: inline-block;
  position: absolute;
  z-index: 9;
  top: 27.7vh;
  right: 28vw;
  height: 8vh;
  width: 8vh;
  background-color: rgba(200,200,200,0.6);
  border-radius: 50%;
}
