
h3{
  display: inline-block;
  letter-spacing:0.2em;
  font-family: basic, Times, serif;
  font-size: 8vw;
  margin-top:8vh;
  margin-bottom: 2vh;

}
.topBox{
  display: inline-block;
  width: 20%;
  margin: 4%;
}
#infoContainer{
  text-align: center;
}
.container{
  text-align: left;
  padding-top:2vh;
  padding-bottom: 2vh;
}
.title{
  font-size: 4em;
  margin-bottom:  2vh;
  color:  #353535;
}
.info{
  font-size: 2.75em;
  color:  #666;
}

#box{
  color:black;
  display:inline-block;
  background-image: linear-gradient(#f7f2f2, var(--medium-gray));
  width: 90vw;
  height: 73vh;
  position: fixed;
  z-index:0;
  bottom:0;
  left:4.9vw;
  border-radius:5% 5% 0 0;
}

/*stuff inside box*/
#content{
  text-align: center;
  padding:4em;
}

#pfp{
  display: block;
  z-index: 2;
  position: fixed;
  width: 35vw;
  margin: 28% 0 9% 32%;
  border-radius: 50%;
}

#joinReportBtn{
  width: 30vw;
  margin: 10% auto 4% auto;
  color:white;
  background-color:var(--dark-gray);
  text-align: center;
  font-size: 5vw;
  padding: 0.8em 2.5em 0.8em 2.5em;
  border-radius:4%;
  transition: 0.2s ease;
  box-shadow: 0px 15px 26px 2px rgba(0,0,0,0.3);
}


#joinReportBtn:hover{
  background-color: #535e61;
  transform:translateY(0.2vh);
}
